.swiper-fading {
  position: relative;
}
.swiper-fading::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  background: linear-gradient(90deg, rgba(18, 18, 18, 0) 0%, rgba(255, 255, 255, 1) 100%);
  z-index: 10;
  pointer-events: none;
}

.swiper-slide {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .swiper-fading::after {
  background: linear-gradient(90deg, rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 1) 100%);
}
